---
import Layout from '../layouts/Layout.astro';

const zeroOrOne = () => {
  return Math.round(Math.random());
};

const lol = ['🏍', '✈'][zeroOrOne()];
---

<Layout>
  <h1 class="text-center text-5xl sm:text-9xl pt-[36dvh] sm:pt-[30dvh]">
    <span class="font-bold dark:text-white">LaLaLand's  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blog</span>
    <span
      class="font-extrabold bg-clip-text text-transparent bg-gradient-to-br from-[#ff5ef7] to-[#02f5ff]"
    >
      {lol}
    </span>
  </h1>
  <!-- <p style="color: white">
    我從出生就是一個自閉小孩
        容易被別人一句話給輕易傷害
        所以 我在唱台上
        不斷的擺弄我的肢體
        為了阻擋光線 和我眼神裡的荒誕
        獨自在電影院裡
        觀看一部傑作
        野火在我的心底燃燒
        夢醒生活再被截獲
        在閃光燈和相機
        面前對爺爺的照片別過
        把人生中的脆弱通過歌詞演說
        無法去甄別 這是錯的 或者是對的
        是real或fake 媽媽我只是累了
        我罪惡 在感情上面懷有 一絲愧色
        如果我們刨開心臟 你們會說這就對了
        我把它放在博物館裡展覽
        看著一旁熙攘的人群在逐漸匯合
        有人在鼓掌 有人哭喊 有人朝他吐痰
        卻唯獨沒人 給我擦乾我的淚河
        故事被曬乾
        過程都太短
        時間可以倒退用我生命來換
        過路的人都已謝完了幕
        一個人吃飯往往會比中藥還再苦
        他們只在乎cash oh cash oh cash
        我視他們為trash oh trash oh trash
        我想要跑到北上廣去蓋一整棟樓
        我知道那些東西不急以後都會有
        後來那台電視機前只剩我在換台
        後來懂我的人的鬢角都已變的斑白
        後來聚攏的人都隨著時間滴答滴答散開
        直到我 再也不敢把那回憶之書翻開
        嘗試在周圍的竊竊私語
        中 尋求治愈
        在一張張的字據
        裡面 去避免失去
        可是失去他就是會失去啊
        這是所有人和事的結局
        我要怎麼才能做到豁達
        是我的錯嗎？
        我也想把那精緻長袍脫下
        換種活法
        我也想轉身擁抱過去
        但我不會魔法
        若你我相逢在人海裡
        請你送我一束花
        我想要成為 一名 藝術家
        或許走到死亡的盡頭
        那蒼白的老人 熱情早已不在他的心頭
        他會失憶的 但會有人把他的生命記憶拼湊
        因為有關法老的故事 他們至今還沒聽夠
        故事被曬乾
        過程都太短
        時間可以倒退用我生命來換
        過路的人都已謝完了幕
        一個人吃飯往往會比中藥還再苦
        他們只在乎cash oh cash oh cash
        我視他們為trash oh trash oh trash
        我想要跑到北上廣去蓋一整棟樓
        我知道那些東西不急以後都會有
  </p> -->
</Layout>
